* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background: rgb(0, 84, 46);
  background: linear-gradient(
    90deg,
    rgba(0, 84, 46, 1) 0%,
    rgba(0, 143, 76, 1) 100%
  );
  background-position: center;
}

.container {
  width: 420px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
}

.container h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
}

.container .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0px;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
  color: #fff;
  font-size: 15px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  font-size: 18px;
  color: #fff;
}

.container button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  background: #fff;
  color: #0f120b;
  cursor: pointer;
}

.container .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
  color: #0c3824;
}

.register-link p a:hover {
  text-decoration: underline;
}
